version: 2.1
orbs:
  cypress: cypress-io/cypress@1
executors:
  chrome-ff:
    docker:
      - image: 'cypress/browsers:node12.14.1-chrome85-ff81'
workflows:
  build:
    jobs:
      - cypress/install
      - cypress/run:
          executor: chrome-ff
          browser: chrome
          name: 2 machines
          start: npm ci
          requires:
            - cypress/install
          record: true
          store_artifacts: true
          parallel: true
          parallelism: 2
          group: 2 machines
      - cypress/run:
          executor: chrome-ff
          browser: chrome
          name: Chrome
          requires:
            - cypress/install
          record: true
          parallel: true
          parallelism: 2
          group: smoke tests
          spec: cypress/integration/smoke/*