version: 2.1
orbs:
  cypress: cypress-io/cypress@1
workflows:
  build:
    jobs:
      - cypress/install
      - cypress/run:
          name: 2 machines
          start: npm ci
          requires:
            - cypress/install
          record: true
          store_artifacts: true
          parallel: true
          parallelism: 2
          group: 2 machines