version: 2.1
orbs:
  cypress: cypress-io/cypress@1
workflows:
  build:
    jobs:
      - cypress/install
      - cypress/run:
          name: Cypress:Ui
          requires:
            - cypress/install
          record: true
          store_artifacts: true
          start: npm ci
          group: Ui
          spec: "cypress/integration/*"
      - cypress/run:
          name: Cypress:UI2
          requires:
            - cypress/install
          executor: cypress/browsers-chrome69
          record: true
          store_artifacts: true
          start: npm ci
          group: UI2
          browser: chrome
          spec: "cypress/integration/*"