version: 2.1
orbs:
  cypress: cypress-io/cypress@1
workflows:
  build:
    jobs:
      - cypress/install
      - cypress/run:
          executor: cypress/browsers-chrome69
          browser: chrome
          name: 2 machines
          start: npm ci
          requires:
            - cypress/install
          record: true
          store_artifacts: true
          parallel: true
          parallelism: 2
          group: 2 machines
      - cypress/run:
          executor: cypress/browsers-chrome69
          browser: chrome
          name: Chrome
          requires:
            - cypress/install
          record: true
          parallel: true
          parallelism: 2
          group: smoke tests
          spec: cypress/integration/smoke/*